## 00.09-Objects and Data Structures Assessment

In [1]:
# 4 *11 = 44

4 * (6+5)

44

In [4]:
# 24 + 5 = 29
4*6+5

29

In [6]:
# 4 + 30 = 50
4 + 6 * 5

34

In [8]:
# float
f = 3 + 1.5 + 3
type(f)

float

In [111]:
# square root?
print(9 ** 0.5)

# square
print(2 ** 2)

3.0
4

In [25]:
s = 'hello'

In [29]:
s[1]

'e'

In [35]:
s[::-1]

'olleh'

In [36]:
s[-1]

'o'

In [37]:
s[4]

'o'

In [115]:
# list1 = [0,0,0]

print('list1 = [0,0,0]')
print([0]*3)

list1 = [0,0,0]
[0, 0, 0]

In [47]:
list3 = [1,2,[3,4,'hello']]
list3

[1, 2, [3, 4, 'hello']]

In [60]:
list3[2][2] = 'goodbye'

In [61]:
list3

[1, 2, [3, 4, 'goodbye']]

In [64]:
# list4 = [5,3,4,6,1]
list4 = [5,3,4,6,1]

In [116]:
# list4.sort()
sorted(list4)

[1, 3, 4, 5, 6]

In [117]:
list4

[1, 3, 4, 5, 6]

In [79]:
d = {'simple_key': 'hello'}
d['simple_key']

'hello'

In [82]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [96]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [131]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [98]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
list5

[1, 2, 2, 33, 4, 4, 11, 22, 3, 3, 2]

In [100]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [101]:
# F

2>3

False

In [102]:
# F
3 <=2

False

In [103]:
# F
3 == 2.0

False

In [104]:
# T
3.0 == 3

True

In [105]:
# F
4**0.5 != 2

False

In [106]:
# two nested list
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# 3 >= 4 F
l_one[2][0] >= l_two[2]['k1']

False

## 2-Python Statements/07-Statements Assessment Test.ipynb

In [134]:
st = 'Print only the words that start with s in this sentence'
st

'Print only the words that start with s in this sentence'

In [143]:
for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [175]:
# for i in range(0,11):
#     if i%2==0:
#         print(i)

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [176]:
for i in range(1,51):
    if i%3 ==0:
#         print(i)

SyntaxError: unexpected EOF while parsing (3393794501.py, line 3)

In [163]:
lst = [i for i in range(1,51) if i%3==0]
lst

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [164]:
st = 'Print every word in this sentence that has an even number of letters'
st

'Print every word in this sentence that has an even number of letters'

In [167]:
for w in st.split():
    if len(w)%2==0:
        print('even', w)

even word
even in
even this
even sentence
even that
even an
even even
even number
even of

In [ ]:
# Write a program that prints the integers from 1 to 100. 
# multiples of three print "Fizz" instead of the number, 
# multiples of five print "Buzz". 
# For numbers which are multiples of both three and five print "FizzBuzz".

In [170]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print('FizzBuzz')
    elif i%3==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [172]:
st = 'Create a list of the first letters of every word in this string'
st

'Create a list of the first letters of every word in this string'

In [178]:
lst = [x[0] for x in st.split()]

In [179]:
lst

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']