# Code Exercises

### Functions #8: *args
Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments.

In [111]:
def myfunc(*args):
    return sum(args)

In [112]:
myfunc(1,2,3)

6

### Functions #9: pick evens
Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

In [113]:
def myfunc(*args):
    evens = []
    for a in args:
        if a %2 == 0:
            evens.append(a)
    return evens

In [114]:
myfunc(1,2,3,4)

[2, 4]

### Functions #10: skyline ⚠️
Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. The output string can start with either an uppercase or lowercase letter, so long as letters alternate throughout the string.

In [115]:
def myfunc(my_string):
    matching_string = ''
    for i in my_string:
        if len(my_string) % 2 ==0:
            matching_string + a.upper()
        else:
             pass
    return matching_string

In [118]:
# def myfunc(a_string):
#     b_string = '123'
#     for i in a_string:
#         if index
    
#     return b_string + 'hello'

In [119]:
my_string = 'abcde'
myfunc('abcde')

''

# [03-Methods and Functions/03-Function Practice Exercises.ipynb](https://github.com/slp22/Complete-Python-3-Bootcamp/blob/master/03-Methods%20and%20Functions/03-Function%20Practice%20Exercises.ipynb)

### Warm Up

In [120]:
# lesser of two evens
# returns the lesser of two given numbers if both numbers are even
# returns the greater if one or both numbers are odd

def lesser_of_two_evens(a,b):
    # if one odd, return greater num
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)        
    # if both nums are even, return lesser num

In [121]:
lesser_of_two_evens(2,4)

2

In [122]:
lesser_of_two_evens(2,5)

5

In [123]:
# animal cracker
# two-word string and returns True if both words begin with same letter

def animal_crackers(text):
    text_list = text.lower().split() 
    return text_list[0][0] == text_list[1][0]

In [124]:
animal_crackers('Levelheaded Llama')

True

In [125]:
animal_crackers('Crazy Kangaroo')

False

In [126]:
# makes twenty
# true if the sum of the integers is 20 or 
# true if one of the integers is 20. 
# If not, return False

def makes_twenty(n1, n2):
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [127]:
makes_twenty(20,10)

True

In [128]:
makes_twenty(2,3)

False

### Level One

In [129]:
# old macdonald
# Write a function that capitalizes the first and fourth letters of a name

def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name too short.'

In [130]:
old_macdonald('macdonald')

'MacDonald'

In [131]:
# master yoda
# return sentence in reverse

def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [132]:
master_yoda('I am home')

'home am I'

In [133]:
master_yoda('We are ready')

'ready are We'

In [134]:
# almost there
# return True if n is within 10 of either 100 or 200

def almost_there(n):
    return ((abs(100-n) <= 100) or (abs(200-n) <= 10))

In [135]:
almost_there(104)

True

In [136]:
almost_there(150)

True

In [137]:
almost_there(209)

True

### Level Two

In [138]:
# find 33
# True if array has a 3 next to a 3 somewhere

# def has_33(nums):
#     return nums[0] == nums[1] or nums[1] == nums[2]

def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [139]:
has_33([1, 3, 3])

True

In [140]:
has_33([1, 3, 1, 3])

False

In [141]:
has_33([3, 1, 3])

False

In [142]:
# paper doll
# return string where for every character in the orignial there are three characters

def paper_doll(text):
    new_text = ''
    for i in text:
        new_text += i*3
    return new_text

In [143]:
paper_doll('Hello')

'HHHeeellllllooo'

In [144]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [145]:
# blackjack
# three integers between 1 and 11, 
# if their sum is less than or equal to 21, return their sum. 
# If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
# Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

# def blackjack(a,b,c):
#     total = a+b+c
#     adj_total = total - 10
#     if c==11 or b==11 or a==11:
#         total = adj_total
#         if total <= 21:
#             return total
#     elif total <= 21:
#         return total
#     else:
#         return 'BUST'

def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <= 31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [146]:
blackjack(5,6,7)

18

In [147]:
blackjack(9,9,11)

19

In [148]:
blackjack(9,9,9)

'BUST'

In [149]:
# summer of '69
# return sum of the numbers in the array
# except ignore sections of numbers starting with a 6 and extending to the next 9 
# (every 6 will be followed by at least one 9). 
# Return 0 for no numbers.

# def summer_69(arr):
# #     print(arr)
#     if 6 in arr:
# #         print('len of array is ', len(arr))
#         start = arr.index(6)
#         stop = arr.index(9) + 1
# #         print('pop range of indicies :', start,',', stop)
#         front_arr = arr[:start]
# #         print('front_arr is ',front_arr)
#         back_arr = arr[stop:]
# #         print('back_arr is ', back_arr)
#         new_arr = front_arr + back_arr
#         print('new_arr', new_arr) 
#         return sum(new_arr)
#         if new_arr == 0:
#             return 0
#     else:
#         return sum(arr)

def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [150]:
summer_69([6, 7, 8, 9])

0

In [151]:
summer_69([1, 3, 5])

9

In [152]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [153]:
summer_69([2, 1, 6, 9, 11])

14

### Challenge

In [154]:
# ❗️
# spy game 
# function that takes in a list of integers and 
# returns True if it contains 007 in order
# spy_game([1,2,4,0,0,7,5]) --> True
# spy_game([1,0,2,4,0,5,7]) --> True
# spy_game([1,7,2,0,4,5,0]) --> False
# anwer
def spy_game(nums):
    code = [0,0,7,'x']
    for n in nums:
        if n == code[0]:
            code.pop(0) #code.remove(n) also works
    return len(code) == 1

In [155]:
spy_game([1,2,4,0,0,7,5])

True

In [156]:
spy_game([1,0,2,4,0,5,7])

True

In [157]:
spy_game([1,7,2,0,4,5,0])

False

In [158]:
# count primes
# function that returns the number of prime numbers that exist up to and including a given number
# count_primes(100) --> 25

# def count_primes(sum):
#     nums = list(range(sum))
#     primes = []
#     for i in nums:
#         if i%2 != 0 and i%3 != 0 and i%3 != 0 and i%5 != 0:
#             primes.append(i)
#     primes.remove(1)
#     return len(primes), primes

def count_primes(num):
    primes = [2]
    x = 3
    if num < 2: #for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2): #test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [159]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [160]:
# print big
# function that takes in a single letter, and 
# returns a 5x5 representation of that letter
# print_big('a')

# out:   *  
#       * *
#      *****
#      *   *
#      *   *
# HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
# For purposes of this exercise, it's ok if your dictionary stops at "E".

In [161]:
def print_big(letter):
    pass

In [162]:
print_big('a')

# [InterviewBit](https://www.interviewbit.com/courses/fast-track-python/)

## Strings

In [8]:
# https://www.interviewbit.com/problems/string-validators/

S = 'uuhwei12#' 
# res = any(chr.isdigit() for chr in test_str)
alphanum = (any(s.isalnum() for s in S))
alpha = any(s.isalpha() for s in S)
digit = any(s.isdigit() for s in S)
lower = any(s.islower() for s in S)
upper = any(s.isupper() for s in S)
print(alphanum) 
print(alpha)
print(digit)
print(lower)
print(upper)

True
True
True
True
False

## Containers & Classes

In [17]:
# https://www.interviewbit.com/problems/lists/

def func():
    names = []
    names.append('Robin')
    names.append('Aman')
    names.append('Rahul')

    
#     print(names)
    return names

In [18]:
func()

['Robin', 'Aman', 'Rahul']

In [25]:
# https://www.interviewbit.com/problems/tuples/

def func():
    tuple1 = tuple(("one", "two", "three"))
    tuple2 = tuple(("1", "2", "3"))
    add = ('number', )
    tuple1 = add + tuple1[1:]
    tuple2 = add + tuple2[1:]
    
    # change value at index 0 of both tuple to string "number"
    # Your code goes here
    
    
    print(tuple1)
    print(tuple2)
    
    return 0

In [26]:
func()

('number', 'two', 'three')
('number', '2', '3')

0

In [36]:
# https://www.interviewbit.com/problems/dictionary/

def func():
    my_dict = {
        "Monday": 1,
        "Tuesday": 2,
        "Wednesday": 3,
        "Thursday": 4,
        "Friday": 5,
        "Saturday": 6,
        "Sunday": 0
    }

    # update value for key "Sunday" to 7
    my_dict["Sunday"] = 7
    
    # adding another item with key "Default" having value 0
    
    my_dict["Default"] = 0
    
    for i in sorted(my_dict):
        print ("(\'" + i + "\',", str(my_dict[i]) + ")")

#     return my_dict

In [37]:
func()

('Default', 0)
('Friday', 5)
('Monday', 1)
('Saturday', 6)
('Sunday', 7)
('Thursday', 4)
('Tuesday', 2)
('Wednesday', 3)

In [58]:
# https://www.interviewbit.com/problems/sets/

def func():
    my_set = set([1, 3, 2, 4, 1, 3, 3, 0])
    
    # add 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23 to my_set
    my_set.update([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])
    
    # delete 2 and 3 from my_set
    my_set.discard(2)
    my_set.discard(3)
    
    li = list(my_set)
    li.sort()

    print(li)
    return 0

In [59]:
func()

[0, 1, 2, 4, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

0

In [132]:
# https://www.interviewbit.com/problems/set-operations/

def func():
    # Below are the three sets 
    
    X = set([1, 3, 7, 5, 6, 10, 20, 21, 22, 23, 55, 51, 2, 19, 9, 17, 27, 26, 25, 35]) #football
    Y = set([2, 10, 13, 18, 17, 22, 28, 27, 5, 49, 46, 43, 3]) # cricket
    Z = set([21, 1, 32, 25, 12, 11, 8, 10, 26, 16, 31, 20, 30, 14]) # basketball
    
    # 'set1' contains the student who loves to play all three sports
    # union
#     set1 = football.union(cricket, basketball)
    set1 = X.intersection(Y, Z) #{10}

    
#     printset(set1)
    
#     # 'set2' contains the student who loves to play both Football and Cricket, but don't play Basketball
#     # (X+Y)-Z
#     set2 =  football.intersection(cricket)
    set2 = X.intersection(Y).difference(Z) #{2, 3, 5, 17, 22, 27}
    
#     printset(set2)
    
#     # 'set3' contains the student who loves to play Cricket, but don't loves any other sport
#     # Y - (X+Z)
#     set3 = cricket.difference(football, basketball)
    set3 = Y.difference(X, Z) #{13, 18, 28, 43, 46, 49}
    
#     printset(set3)
    return set1, set2, set3

In [133]:
func()

({10}, {2, 3, 5, 17, 22, 27}, {13, 18, 28, 43, 46, 49})

In [37]:
# https://www.interviewbit.com/problems/nested-list/

def func():
    my_list = [['a', 'b'], ['cc', 'dd', ['eee', 'fff']], ['g', 'h']]
    
    # insert a new list [1, 2, 3] at the end of my_list
    # Your code goes here
    new_list = [1,2,3]
    my_list.append(new_list)
    print(my_list)
    
    # Delete 'eee' from the list
    # Your code goes here
    my_list[1][2].pop(0)
    
    print(my_list)
    return 0

- To **add** new values to the end of the nested list, use `append()` method.
- When you want to **insert** an item at a specific position in a nested list, use `insert()` method.
- **Merge** one list into another by using `extend()` method.
- If you know the **index** of the item you want, you can use `pop()` method. It modifies the list and returns the removed item.
- If you’re not sure where the item is in the list, use `remove()` method to delete it by value.

In [38]:
func()

[['a', 'b'], ['cc', 'dd', ['eee', 'fff']], ['g', 'h']]
[['a', 'b'], ['cc', 'dd', ['fff']], ['g', 'h']]

0

In [81]:
# https://www.interviewbit.com/problems/list-comprehensions/

def func():
    str_list = ['given', 'intern', 'InterviewBit', 'network', 'local', 'multiple', 
                'define', 'nodes', 'algorithm', 'allows', 'community', 'phase', 'single']
#     my_list = [str_list[i] for i in range(len(str_list)) if (len(str_list[i]) % 2 != 0)]
    my_list = [s for s in str_list if len(s) %2 !=0]
    
    print(my_list)
    return 0

- `letter_S = [l for l in S]`
- `my_list = [x for x in range(1, 10) if x%2 == 1]`

In [82]:
func()

['given', 'network', 'local', 'nodes', 'algorithm', 'community', 'phase']

0

In [78]:
str_list = ['given', 'intern', 'InterviewBit', 'network', 'local', 'multiple', 'define', 'nodes', 'algorithm', 'allows', 'community', 'phase', 'single']
my_list = []

In [79]:
# for s in str_list:
#     if len(s) % 2 !=0:
#         my_list.append(s)
# print(my_list)


my_list = [s for s in str_list if len(s) %2 !=0]
my_list

['given', 'network', 'local', 'nodes', 'algorithm', 'community', 'phase']

In [80]:
my_list

['given', 'network', 'local', 'nodes', 'algorithm', 'community', 'phase']

In [76]:
# # for i in range(len(str_list)):
# #     if (len(str_list[i]) % 2 != 0):
# #         my_list.append(str_list[i])
# # print(my_list)

# my_list = [str_list[i] for i in range(len(str_list)) if (len(str_list[i]) % 2 != 0)]
# print(my_list)

In [163]:
# even_string_using_iterators = []
# for label in str_list:
#     if len(label) % 2 == 0:
#         even_string_using_iterators.append(label)

# print(even_string_using_iterators)
##########################################################

# even_string_using_for_loop = []
# for i in range(0, len(str_list)):
#     string = str_list[i]
#     string_len = len(string)
#     is_even = string_len % 2 == 0
#     if is_even:
#         even_string_using_for_loop.append(string)
# print(even_string_using_for_loop)
##########################################################

small_list = ['intern', 'InterviewBit', 'multiple', 'define', 'allows', 'single']
for i in [0,1,2,3,4,5]:
    print(small_list[i])

intern
InterviewBit
multiple
define
allows
single

In [84]:
# https://www.interviewbit.com/problems/classes-and-objects/

class Student:
    def __init__(self, name, branch):
        self.name = name
        self.branch = branch
    def printfunction(self):
        print(self.name + " " + self.branch)

def main():
    #Your code goes here
    stud1 = Student('Robin', 'CSE')
    stud2 = Student('Rahul', 'ECE')
    stud1.printfunction()
    stud2.printfunction()
    return 0

if __name__ == '__main__':
    main()

Robin CSE
Rahul ECE

In [99]:
# https://www.interviewbit.com/problems/numpy-arrays/

import numpy as np
def func():
    arr = [1, 3, 2, 2, 5, 3, 8, 2]
    
    # Convert the above array into ndarray
    arr = np.array(arr)
    
    print(type(arr))
    
    # Use where to find all the indexes of 2
    x = np.where(arr == 2) 
    
    print(x)
    return 0

You can search an array for a certain value, and return the indexes that get a match. To search an array, use the `where()` method.

`my_arr = np.array([1, 2, 3, 4, 5, 4, 4])`

`x = np.where(my_arr == 4)`
print(x) # Finds all the indexes of 4

In [100]:
func()

<class 'numpy.ndarray'>
(array([2, 3, 7]),)

0

# Itertools & Collections (Level 5)

In [ ]:
# https://www.interviewbit.com/problems/itertools-infinite-iterators/

import itertools

def func():
    # print 1000 space separated integers starting from 1000 with common difference 500
    # 1000 1500 2000 2500 3000........
    # There should be exactly one space after every integer
    for i in itertools.count(1000,500):
        if i >= 100:
            break
        else:
            print(i,end=" ")
    
    # print all uppercase alphabets 15 times, printing from A-Z then repeating again
    # A B C D E F G H I J K L M N O P Q R S T U V W X Y Z A B C D........
    # There should be exactly one space after every character
    count=0
    for i in itertools.cycle('ABCDEFGHIJKLMNOPQRSTUVQXYZ'):
        if count >= 15:
            break
        else:
            print(i, end=" ")
            count += 1
    
    # print list of integers containing 1000 4's
    print(list(itertools.repeat(4,1000)))

    return 0

# if __name__ == '__main__':
#     main()

In [ ]:
func()

### infinite itertors
- count(start, step)
```
   for i in itertools.count(5,5):
       if i == 35:
           break
        else:
            print(i, end =" ")
        prints 5 10 15 20 25 30
```
- cycle(iterable)
```
    count = 0
    for i in itertools.cycle('AB'):
        if count > 7:
            break
        else:
            print(i, end = " ")
            count += 1
        prints A B A B A B A B
```
- repeat(val, num)
```
    print("Printing the numbers repeatedly:")
     print(list(itertools.repeat(25, 4)))
        prints Printing the numbers repeatedly:
        [25, 25, 25, 25]
```

In [3]:
import itertools

for i in itertools.count(5,5):
    if i == 35:
        break
    else:
        print(i, end=" ")

5 10 15 20 25 30

In [5]:
for i in itertools.count(1, 2):  
    if i >= 10:  
        break
    else:  
        print(i, end =" ")

1 3 5 7 9