# Code Exercises

### Functions #8: *args
Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments.

In [38]:
def myfunc(*args):
    return sum(args)

In [39]:
myfunc(1,2,3)

6

### Functions #9: pick evens
Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

In [41]:
def myfunc(*args):
    evens = []
    for a in args:
        if a %2 == 0:
            evens.append(a)
    return evens

In [42]:
myfunc(1,2,3,4)

[2, 4]

### Functions #10: skyline
Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. The output string can start with either an uppercase or lowercase letter, so long as letters alternate throughout the string.

In [43]:
def myfunc(my_string):
    matching_string = ''
    for i in my_string:
        if len(my_string) % 2 ==0:
            matching_string + a.upper()
        else:
             pass
    return matching_string

In [51]:
def myfunc(a_string):
    b_string = '123'
    for i in a_string:
        if index
    
    
    return b_string + 'hello'

In [52]:
my_string = 'abcde'
myfunc('abcde')

'123hello'

# [03-Methods and Functions/03-Function Practice Exercises.ipynb](https://github.com/slp22/Complete-Python-3-Bootcamp/blob/master/03-Methods%20and%20Functions/03-Function%20Practice%20Exercises.ipynb)

### Warm Up

In [63]:
# lesser of two evens
# returns the lesser of two given numbers if both numbers are even
# returns the greater if one or both numbers are odd

def lesser_of_two_evens(a,b):
    # if one odd, return greater num
    if a%2==0 and b%2==0:
        if a<b:
            return a
        else:
            return b
    if a%2!=0 or b%2!=0:
        if a > b:
            return a
        else:
            return b
        
    # if both nums are even, return lesser num

In [84]:
lesser_of_two_evens(2,4)

2

In [85]:
lesser_of_two_evens(2,5)

5

In [86]:
# animal cracker
# two-word string and returns True if both words begin with same letter

def animal_crackers(text):
    text_list = text.split()
    text_list_1 = text_list[0][0]
    text_list_2 = text_list[1][0]    
    return text_list_1 == text_list_2

In [87]:
animal_crackers('Levelheaded Llama')

True

In [88]:
animal_crackers('Crazy Kangaroo')

False

In [106]:
# makes twenty
# true if the sum of the integers is 20 or 
# true if one of the integers is 20. 
# If not, return False

def makes_twenty(n1, n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1+n2 == 20:
        return True
    else:
        return False

In [107]:
makes_twenty(20,10)

True

In [108]:
makes_twenty(2,3)

False

### Level One

In [119]:
# ❗️
# old macdonald
# Write a function that capitalizes the first and fourth letters of a name

def old_macdonald(name):
    old_letter = name[0]
    new_letter = name[0].upper()
    print('old letter', old_letter, 'and new letter', new_letter )

In [256]:
old_macdonald('macdonald')

In [125]:
# master yoda
# return sentence in reverse

def master_yoda(text):
    return text.split()[::-1]

In [126]:
master_yoda('I am home')

['home', 'am', 'I']

In [127]:
master_yoda('We are ready')

['ready', 'are', 'We']

In [140]:
# almost there
# return True if n is within 10 of either 100 or 200

def almost_there(n):
    return 90 < n < 110 or 190 < n < 210

In [141]:
almost_there(104)

True

In [142]:
almost_there(150)

False

In [143]:
almost_there(209)

True

### Level Two

In [156]:
# find 33
# True if array has a 3 next to a 3 somewhere

def has_33(nums):
    return nums[0] == nums[1] or nums[1] == nums[2]

In [157]:
has_33([1, 3, 3])

True

In [158]:
has_33([1, 3, 1, 3])

False

In [159]:
has_33([3, 1, 3])

False

In [252]:
# ❗️
# paper doll
# return string where for every character in the orignial there are three characters

def paper_doll(text):
    new_text = ''
    for i in text:
        new_text = i*3
    return new_text

In [257]:
paper_doll('Hello')

In [258]:
paper_doll('Mississippi')

In [698]:
# ❗️
# blackjack
# three integers between 1 and 11, 
# if their sum is less than or equal to 21, return their sum. 
# If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
# Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

def blackjack(a,b,c):
    total = a+b+c
    print('total',total)
    
    if total <= 21:
        return 'first if: done', total
    if c==11 or b==11 or a==11:
        adj_total = total - 10
        print('second if: adj',adj_total)

In [702]:
blackjack(5,6,7)

In [703]:
blackjack(9,9,11)

In [704]:
blackjack(9,9,9)

In [ ]:
# ❗️ untouched
# summer of '69
# return sum of the numbers in the array
# except ignore sections of numbers starting with a 6 and extending to the next 9 
# (every 6 will be followed by at least one 9). 
# Return 0 for no numbers.

def summer_69(arr):

In [ ]:
summer_69([1, 3, 5])

In [ ]:
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
summer_69([2, 1, 6, 9, 11])